<div class="container filter-dialog">
  <h3 class="text-center mt-3">Character filter</h3>
  <hr />
  <form #f="ngForm" class="text-center">
    <div class="row">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Character name</mat-label>
        <input
          #name
          [(ngModel)]="characterFilter.name"
          (ngModelChange)="filterAutocompleteByName($event)"
          [customValidator]="originalNames"
          ngModel
          [matAutocomplete]="nameAutoComplete"
          matInput
          name="name"
          validateOnChange="true"
        />
        <mat-autocomplete #nameAutoComplete="matAutocomplete">
          <mat-option *ngFor="let name of filteredNames" [value]="name">{{
            name
          }}</mat-option>
        </mat-autocomplete>
        <mat-error>No such character name!</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Actor name</mat-label>
        <input
          [(ngModel)]="characterFilter.actor"
          (ngModelChange)="filterAutocompleteByActor($event)"
          [ifValidator]="filteredActorSet.size != 0"
          ngModel
          [matAutocomplete]="actorAutoComplete"
          matInput
          name="actor"
        />
        <mat-autocomplete #actorAutoComplete="matAutocomplete">
          <mat-option *ngFor="let actor of filteredActorSet" [value]="actor">{{
            actor
          }}</mat-option>
        </mat-autocomplete>
        <mat-error>No such actor name!</mat-error>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="characterFilter.gender" name="gender">
          <mat-option [value]="'male'">male</mat-option>
          <mat-option [value]="'female'">female</mat-option>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>House</mat-label>
        <mat-select [(ngModel)]="characterFilter.house" name="house">
          <mat-option *ngFor="let house of houseSet" [value]="house">{{
            house ? house : "No house"
          }}</mat-option>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Species</mat-label>
        <input
          [(ngModel)]="characterFilter.species"
          (ngModelChange)="filterAutoCompleteBySpecies($event)"
          [ifValidator]="filteredSpeciesSet.size != 0"
          ngModel
          [matAutocomplete]="speciesAutoComplete"
          matInput
          name="species"
        />
        <mat-autocomplete #speciesAutoComplete="matAutocomplete">
          <mat-option
            *ngFor="let species of filteredSpeciesSet"
            [value]="species"
            >{{ species }}</mat-option
          >
        </mat-autocomplete>
        <mat-error>No such character species!</mat-error>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Patronus</mat-label>
        <input
          [(ngModel)]="characterFilter.patronus"
          (ngModelChange)="filterAutoCompleteByPatronus($event)"
          [ifValidator]="filteredPatronusSet.size != 0"
          ngModel
          [matAutocomplete]="patronusAutoComplete"
          matInput
          name="patronus"
        />
        <mat-autocomplete #patronusAutoComplete="matAutocomplete">
          <mat-option
            *ngFor="let patronus of filteredPatronusSet"
            [value]="patronus"
          >
            {{ patronus }}
          </mat-option>
        </mat-autocomplete>
        <mat-error>No such patronus!</mat-error>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Picture</mat-label>
        <mat-select [(ngModel)]="characterFilter.image" name="image">
          <mat-option [value]="true">Has a picture</mat-option>
          <mat-option [value]="false">No picture</mat-option>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field appearance="fill" class="col-12 example-form-field">
        <mat-label>Birth date from</mat-label>
        <input
          matInput
          [matDatepicker]="datepickerFrom"
          [(ngModel)]="characterFilter.birthDateFrom"
          name="birthDateFrom"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datepickerFrom"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepickerFrom>
          <mat-datepicker-actions>
            <button class="mr-1" matDatepickerCancel>Cancel</button>
            <button matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field appearance="fill" class="col-12 example-form-field">
        <mat-label>Birth date to</mat-label>
        <input
          matInput
          [matDatepicker]="datepickerTo"
          [(ngModel)]="characterFilter.birthDateTo"
          name="birthDateTo"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datepickerTo"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepickerTo>
          <mat-datepicker-actions>
            <button class="mr-1" matDatepickerCancel>Cancel</button>
            <button matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Wizard</mat-label>
        <mat-select [(ngModel)]="characterFilter.wizard" name="wizard">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Ancestry</mat-label>
        <input
          [(ngModel)]="characterFilter.ancestry"
          (ngModelChange)="filterAutoCompleteByAncestry($event)"
          [ifValidator]="filteredAncestrySet.size != 0"
          ngModel
          [matAutocomplete]="ancestryAutoComplete"
          matInput
          name="ancestry"
        />
        <mat-autocomplete #ancestryAutoComplete="matAutocomplete">
          <mat-option
            *ngFor="let ancestry of filteredAncestrySet"
            [value]="ancestry"
          >
            {{ ancestry }}
          </mat-option>
        </mat-autocomplete>
        <mat-error>No such ancestry!</mat-error>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Alive</mat-label>
        <mat-select [(ngModel)]="characterFilter.alive" name="alive">
          <mat-option [value]="true">Live</mat-option>
          <mat-option [value]="false">Dead</mat-option>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row mt-2">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Hogwarts</mat-label>
        <mat-select [(ngModel)]="characterFilter.hogwarts" name="hogwarts">
          <mat-option [value]="Hogwarts.STUDENT">Student</mat-option>
          <mat-option [value]="Hogwarts.STAFF">Staff</mat-option>
          <mat-option [value]="Hogwarts.NONE">None of them</mat-option>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="justify-content-center">
      <button [disabled]="f.invalid" [mat-dialog-close]="characterFilter">
        Filter
      </button>

      <button class="mt-2" (click)="f.resetForm()">Reset</button>

      <button class="mt-2" (click)="dialogRef.close()">Exit</button>
    </div>
  </form>
</div>
